.icon-addons:after { content: 'Explore Add-Ons'; }
.icon-documentation:after { content: 'Explore Documentation'; }

.footernav_help a:before { content: 'Terms of Use'; }
.footernav_patents a:before { content: 'Patents'; }
.footernav_trademarks a:before { content: 'Trademarks'; }
.footernav_piracy a:before { content: 'Acknowledgments'; }

.nav_examples__categories #all_products h3:before { content: 'My Products'; }



/* Search: Suggestions */
#suggestions { padding: 0; margin: 0 43px 0 0; border: 1px solid #cbcbcb; background: #fff; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); color: #000; display: none; font-size: 12px; position: absolute; z-index: 1040; }

.suggestionheader { padding: 6px 7px; margin: 0; background: #dbe4ef; color: #404040; font-weight: bold; line-height: 1.0; }
.suggestionarea { padding: 1px 0 0; overflow-x: hidden; overflow-y: auto; }
.suggestion { width: 100%; padding: 4px 0; margin: 0 0 1px 0; color: #000; cursor: pointer; float: left; line-height: 1.0; }
.suggestiontext { width: auto; padding-left: 28px; float: left; }
.suggestionprod { width: auto; padding-right: 10px; float: right; }

/* Search Suggestions: Icons */
.blk_suggestion { background: url(../images/nextgen/doc_center/ico_blocks.png) no-repeat 7px 2px; }
.fcn_suggestion { background: url(../images/nextgen/doc_center/ico_function.png) no-repeat 7px 4px; }
.cat_suggestion { background: url(../images/nextgen/doc_center/ico_category.png) no-repeat 7px 2px; }
.so_suggestion { background: url(../images/nextgen/doc_center/ico_sysobjects.png) no-repeat 7px 3px; }

.suggestionsummary { color: #666; font-style: italic; }
.suggestionhighlight { color: #000; background-color: #dce3ed; font-style: normal; }
.selected-suggestion { color: #000; background-color: #dbdbdb; }

#wordarea .suggestion { padding-left: 7px; }

.suggestmore { padding-left: 16px; color: #005fce; display: block; background: url(../images/nextgen/doc_center/bg_search_more_results.png) no-repeat 7px center; float: left; }
#wordarea .suggestmore { padding-left: 16px; margin-left: -6px; color: #005fce; background: url(../images/nextgen/doc_center/bg_search_more_results.png) no-repeat 7px center; }
