/* Off-Canvas Actuator */
.offcanvas_actuator .offcanvas_actuator_label:before { content: "目录"; }
.offcanvas_actuator .offcanvas_actuator_close:before { content: "关闭"; }

.section_header_content a:before { content: '示例'; }

.nav_examples__categories #related_resources h3:before { content: '相关资源'; }
