# ignore testresults folders
tests-graphics/
tests-multivariate/
tests-multivariate-clustering
tests-regression-clustering/
tests-mixsim/
tests-regression/
tests-regressionTS/
tests-regressionLTSts/
tests-regressionEXT/
tests-utilities/
# ignore search engine fo builddocsearchdb
/helpfiles/pointersHTML/helpsearch-v3
