pool:
  vmImage: 'Ubuntu 16.04'
steps:
  - script: wget -qO- --retry-connrefused https://storage.googleapis.com/matlabimagesus/public/install.sh | sudo -E bash
  - script: matlab -batch "disp('Hello World')"

