.icon-addons:after { content: 'アドオンの探索'; }
.icon-documentation:after { content: 'ドキュメンテーションの探索'; }

.footernav_help a:before { content: 'ご利用条件 (英語)'; }
.footernav_patents a:before { content: '特許 (英語)'; }
.footernav_trademarks a:before { content: '商標 (英語)'; }
.footernav_piracy a:before { content: '謝辞 (英語)'; }

.nav_examples__categories #all_products h3:before { content: 'マイ プロダクト'; }
