/* Overrides for Chinese Web Doc Center */
/* Globals */
html body { font-family: Microsoft YaHei, Segoe UI, Arial, Helvetica; }

.offcanvas_nav *, 
#doc_center_content *:not(sup) { font-size: 14px !important; }

#doc_center_content h1 { font-size:22px !important; }
#doc_center_content h2 { font-size:18px !important; }
#doc_center_content h3 { font-size:16px !important; }
#doc_center_content h4 { font-size:14px !important; }
#doc_center_content h5 { font-size:14px !important; }
#doc_center_content h6 { font-size:14px !important; }

#doc_center_content h1 > span { font-size:22px !important; }
#doc_center_content h2 > span { font-size:18px !important; }
#doc_center_content h3 > span { font-size:16px !important; }
#doc_center_content h4 > span { font-size:14px !important; }
#doc_center_content h5 > span { font-size:14px !important; }
#doc_center_content h6 > span { font-size:14px !important; }

#doc_center_content h1[class*="r20"],
#doc_center_content h2.title[class*="r20"] { font-size: 22px !important; }

/* Off-Canvas Actuator */
.offcanvas_actuator .offcanvas_actuator_label:before { content: "目录"; }
.offcanvas_actuator .offcanvas_actuator_close:before { content: "关闭"; }

/* Disambiguation List Overflow */
.sidebar-offcanvas .nav_disambiguation_overflow_control:before { content: "更多..."; }
.sidebar-offcanvas .collapse.in + .nav_disambiguation_overflow_control:before { content: "更少..."; }

/* Expand - Collapse: Reveal */
.reveal .more_results p:after { content:"更多"; }
.reveal .expanded .more_results p:after { content:"更少"; }

/* Expand All in Page */
.doc_topic_desc { padding-right:130px; }
.doc_topic_desc .switch { width:120px; margin-right:-130px; }

/* Function Reference */
.input_argument_container h2 { font-style:normal; }