/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Template Globals:.........Styles for specific responsive templates

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

Lightbox..................3rd Party Lightbox CSS

Downsize..................Reduce font size for sections

*/




/* ------------------------------------
$ Bootstrap Overrides
------------------------------------ */

/* ---- Enable Mobile Menus on Tablet ---- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand { margin-left: 0; }

.navbar-nav .open .dropdown-menu { width: auto; margin-top: 0; border: 0; background-color: transparent; box-shadow: none; float: none; position: static; }

#responsive_b #topnav { border-right: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; }

	/* Per Coderwall: https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint */
	.navbar-header { float: none; }

	.navbar-left,
	.navbar-right { float: none !important; }

	.navbar-toggle { display: block; }

	.navbar-fixed-top { top: 0; }

	.navbar-collapse.collapse { display: none !important; }

	.navbar-nav { float: none !important; }

	.navbar-nav > li { float: none; }

	.collapse.in { display: block !important; }

	/* MW Overrides for Coderwall */
	#subnav .navbar-collapse.collapse { display: block !important; }
	#subnav .navbar-nav { float: left !important; }
	#subnav .navbar-nav > li { float: left; }


.navbar-nav { margin: 0 -15px; }

#mobile_search form { margin-bottom: 0; }



/* ------------------------------------
$ Page Globals
------------------------------------ */
/* ---- Hierarchy ---- */
h1 { margin-bottom: 23px; font-size: 25px; }
h2 { margin-bottom: 15px; font-size: 22px; }
h3 { margin-bottom: 13px; font-size: 20px; }
h4 { margin-bottom: 17px; font-size: 17px; }
h5 { margin-bottom: 10px; font-size: 16px; }
h6 { margin-bottom: 10px; font-size: 15px; }

	/* Hierarchy: Classes -- [ Additional Styles: LG,MD,SM,XS ] */
	.h1 { margin-bottom: 23px; font-size: 25px; }
	.h2 { margin-bottom: 15px; font-size: 22px; }
	.h3 { margin-bottom: 13px; font-size: 20px; }
	.h4 { margin-bottom: 17px; font-size: 17px; }
	.h5 { margin-bottom: 10px; font-size: 16px; }
	.h6 { margin-bottom: 10px; font-size: 15px; }

	/* Hierarchy: Conditional Spacing */
	h1 + h2 { margin-top: -16px; margin-bottom: 23px; }

  /* Hierarchy: Styles */
  h2.tagline { font-size: 16px; }

  h1.hierarchy_large,
  .h1.hierarchy_large { font-size: 31px; }
  
  h2.hierarchy_large,
  .h2.hierarchy_large { margin-bottom: 23px; font-size: 25px; } 


/* ---- Bands ---- */
.band { padding: 30px 0; }


/* ---- Carousel ---- */

		/* Caption: Hierarchy */
		.carousel-caption h1 { margin-bottom: 29px; font-size: 27px; }
		.carousel-caption h2 { font-size:25px; }


/* ---- Panels ---- */

	/* Panel Types: Ad Image */ 
	.panel.panel_image_right { background-image: none !important; }

/* ---- Slider ---- */

	/* Slider: Control the Active Slide */
	.slider-inner > .active.left  { left: -50%; }
	.slider-inner > .active.right { left: 50%; }

	/* Slider: Control the Incoming Slide */
	.slider-inner > .next { left:  50%; }
	.slider-inner > .prev { left: -50%; }

	/* Slider: Control Display of all Slides */
	.slider-inner .item > div { display: none; }
	.slider-inner .item > div:first-child { display: block; }
	.slider-inner .item > div:first-child + div { display: block; }



/* ------------------------------------
Structure
------------------------------------ */

/* ---- Full Banner ---- */

	/* Full Banner: Carousels */
	.full_banner .carousel-inner > .item { min-height: 250px; }


/* ---- Footer ---- */

	/* Footer: Standard */

		/* Footer Nav  -- [ Additional Styles: XS ] */
		.kr_footernav { margin-bottom: 0; }
		.kr_footernav li { padding: 0; margin-bottom: 5px; float: none; }
		.kr_footernav li + li  { border: none; }

		/* Social Media */
		.footer .social_media_icons li + li { margin-left: 16px; }
		.footer .social_media_icons [class*="ico_"] { width: 32px; height: 32px; }
		.footer .social_media_icons .ico_sm { width: 32px; height: 32px; }

			/* Social Media: Icons */
			.ico_sm.ico_google { background-position: -40px 0; }
			.ico_sm.ico_facebook { background-position: -40px -32px; }
			.ico_sm.ico_linkedin { background-position: -40px -64px; }	
			.ico_sm.ico_rss { background-position: -40px -96px; }
			.ico_sm.ico_twitter { background-position: -40px -128px; }
			.ico_sm.ico_weibo { background-position: -40px -160px; }



/* ------------------------------------
$ Override CSS
------------------------------------ */

/* ---- Additive / Reductive CSS ---- */

	/*  Add: Column Borders (Divider) - SM Only */ 
	.add_border_right_sm,
	.add_border_left_sm { position: relative; }

	.add_border_left_sm:before,
	.add_border_right_sm:after { width: 0; height: auto; border-right: 1px solid #e6e6e6; bottom: 20px; content: ""; position: absolute; top: 0; }

	.add_border_left_sm:before { left: 0; }
	.add_border_right_sm:after { right: 0; }

	/* Add: Display Property - SM Only */
	.add_display_block_sm { display: block !important; }
	.add_display_inline_sm { display: inline !important; }
	.add_display_inlineblock_sm { display: inline-block !important; }	

	/* Add: Margin-Bottom | Recalculate values for smaller screen-width */
	.add_margin_25 { margin-bottom: 20px !important; }
	.add_margin_30 { margin-bottom: 25px !important; }
	.add_margin_35 { margin-bottom: 29px !important; }
	.add_margin_40 { margin-bottom: 33px !important; }
	.add_margin_45 { margin-bottom: 38px !important; }
	.add_margin_50 { margin-bottom: 42px !important; }
	.add_margin_60 { margin-bottom: 50px !important; }
	.add_margin_70 { margin-bottom: 58px !important; }
	.add_margin_80 { margin-bottom: 67px !important; }
	.add_margin_90 { margin-bottom: 75px !important; }
	.add_margin_100 { margin-bottom: 83px !important; }

	/* Add: Margin-Bottom - SM only */
	.add_margin_0_sm { margin-bottom: 0 !important; }
	.add_margin_5_sm { margin-bottom: 5px !important; }
	.add_margin_10_sm { margin-bottom: 10px !important; }
	.add_margin_15_sm { margin-bottom: 15px !important; }
	.add_margin_20_sm { margin-bottom: 20px !important; }
	.add_margin_25_sm { margin-bottom: 25px !important; }
	.add_margin_30_sm { margin-bottom: 30px !important; }
	.add_margin_35_sm { margin-bottom: 35px !important; }
	.add_margin_40_sm { margin-bottom: 40px !important; }
	.add_margin_45_sm { margin-bottom: 45px !important; }
	.add_margin_50_sm { margin-bottom: 50px !important; }
	.add_margin_60_sm { margin-bottom: 60px !important; }
	.add_margin_70_sm { margin-bottom: 70px !important; }
	.add_margin_80_sm { margin-bottom: 80px !important; }
	.add_margin_90_sm { margin-bottom: 90px !important; }
	.add_margin_100_sm { margin-bottom: 100px !important; }


	/* Remove */

		/* Remove: Background - SM Only */
		.remove_background_image_sm { background-image: none !important; }
		.remove_background_image_sm:before { background: transparent !important; }		


/* ---- MathWorks Custom Bootstrap Classes ---- */

	/* Custom Pull Right Classes */
	.pull_left_sm { float: left !important; }
	.pull_right_sm { float: right !important; }

	/* Custom Text Alignment Classes */
	.text_left_sm { text-align: left; }
	.text_center_sm { text-align: center; }
	.text_right_sm { text-align: right; }



/* ------------------------------------
$ Downsize
------------------------------------ */
.section_downsize h1,
.section_downsize .h1 { font-size: 25px; }
.section_downsize h2,
.section_downsize .h2 { font-size: 22px; }

.section_downsize h1 + h2 { font-size: 22px; }



/* ------------------------------------
$ Upsize
------------------------------------ */
.section_upsize h1,
.section_upsize .h1 { font-size: 33px; }
.section_upsize h2,
.section_upsize .h2 { font-size: 25px; }
.section_upsize h3,
.section_upsize .h3 { font-size: 20px; }
.section_upsize h4,
.section_upsize .h4 { font-size: 18px; }
.section_upsize h5,
.section_upsize .h5 { font-size: 17px; }
.section_upsize h6,
.section_upsize .h6 { font-size: 15px; }

.section_upsize h1 + h2 { font-size: 25px; }










/* ------------------------------------
$ To Be Code Reviewed
------------------------------------ */
/* 
 All CSS changes/addtions/edits MUST be code reviewed before they can accepted as part of the site6 standards.

 Please add any working code below, and be sure to add you initials in the comments for your section.

 Once your work is complete, coordinate a code review with Ryan Johnson.  Code reviews should be scheduled before the end of Feature Freeze.
*/

/* AEM style for centering text (GQ) */
span.text_center_sm { display: block; }