/* Overrides for Doc Center in the Product */

/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

*/



/* ------------------------------------
$ Fonts
------------------------------------ */
@font-face { font-family: 'mathworks'; font-style: normal; font-weight: normal;
  src:  url('fonts/mathworks.eot?5hi3p2');
  src:  url('fonts/mathworks.eot?#iefix5hi3p2') format('embedded-opentype'),
        url('fonts/mathworks.woff?5hi3p2') format('woff'),
        url('fonts/mathworks.ttf?5hi3p2') format('truetype'),
        url('fonts/mathworks.svg?5hi3p2#mathworks') format('svg');
}

@font-face { font-family: 'mathworks-eps'; font-style: normal; font-weight: normal;
  src:  url('ifonts/mathworks-eps.eot?29yaua');
  src:  url('fonts/mathworks-eps.eot?#iefix29yaua') format('embedded-opentype'),
        url('fonts/mathworks-eps.woff?29yaua') format('woff'),
        url('fonts/mathworks-eps.ttf?29yaua') format('truetype'),
        url('fonts/mathworks-eps.svg?29yaua#mathworks-eps') format('svg');
}




/*-----------------------------------
   Site Elements
-------------------------------------*/

/* ---- Product and Web Specific Links ---- */

	/* Relese Mark */
	#doc_center_content h1.r2015a,
	#doc_center_content h1.r2015b { background:none; }

	#doc_center_content h2.title.r2015a,
	#doc_center_content h2.title.r2015b { background:none; }

	/* Product and Web Specific Links: Hide/Show - Responsive-ification Needed: visible_product hidden_web; */
	.execmatlabproduct { display:inline; }
	.execmatlabweb { display:none; }

	.coming_from_product { display:inline; }
	div.coming_from_product { display:block; }
	.not_coming_from_product { display:none; }
	div.not_coming_from_product { display:none; }

	.execmatlabproduct.video { display:inline-block; }
	.execmatlabweb.video { display:none; }

	.support_package_list { display:none; }



/*-----------------------------------
   Structure
-------------------------------------*/

/* ---- Header ---- */
#header_mobile,
#header_desktop { display: none !important; }

/* ---- Section Header ---- */
.section_header .btn_search_adjacent.dropdown-toggle { display: none; }

.section_header_content a,
.section_header_content a:hover,
.section_header_content a:visited { color: #fff; text-decoration: none; }

.sticky_header_container .section_header.level_3 { height: 48px; }      
.sticky_header_container .section_header.level_3 .section_header_content { height: 48px; padding-bottom: 7px; }

.sticky_header_container .section_header.level_3 h1,
.sticky_header_container .section_header.level_3 p.h1 { padding-top: 3px; padding-bottom: 4px; font-size: 23px; } 

.sticky_header_container .section_header.level_3 form { padding-top: 8px; }  

    
/* Content Configuration: Desktop NOT Scrolled - Fix for Chromium Flashing Issue */   

  /* Desktop Scrolled: Off-Canvas Not Active */
  .sticky_header_container.affix-top ~ .row-offcanvas .sidebar-offcanvas { margin-left: 0; left: -270px; position: fixed; top: 92px; }
  .sticky_header_container.affix-top ~ .row-offcanvas .sidebar-offcanvas .offcanvas_nav { bottom: 0; left: -270px; position: fixed; top: 92px; }

  /* Desktop Scrolled: Off-Canvas Active */
  .sticky_header_container.affix-top ~ .row-offcanvas.active .sidebar-offcanvas { left: 0; z-index: 10; }
  .sticky_header_container.affix-top ~ .row-offcanvas.active .sidebar-offcanvas .offcanvas_nav { left: 0; }


  /* Affix: Level 3: Shrink Banner to Scrolled Height */
  .sticky_header_container.affix-top .section_header.level_3 { height: 48px; }      
  .sticky_header_container.affix-top .section_header.level_3 .section_header_content { height: 48px; padding-bottom: 7px; }

  .sticky_header_container.affix-top .section_header.level_3 form { padding-top: 8px; }

  .sticky_header_container.affix-top .section_header.level_3 h1,
  .sticky_header_container.affix-top .section_header.level_3 p.h1 { padding-top: 3px; padding-bottom: 4px; font-size: 23px; } 

  .sticky_header_container.affix .section_header.level_3 h1,
  .sticky_header_container.affix .section_header.level_3 p.h1 { margin-top: 0; padding-top: 3px; padding-bottom: 4px; font-size: 23px; }

  .sticky_header_container.affix .section_header.level_3 form { padding-top: 8px; }  


/* ---- Off-Canvas Actuator  ---- */

  /* Off-Canvas Actuator: Container */

    /* Actuator Container: Inactive */   
    .offcanvas_actuator { background: url(../images/global/bg-offcanvas-actuator.png) repeat-y -270px top; }

    /* Actuator Container: Active */ 
   .offcanvas_actuator.active { background: url(../images/global/bg-offcanvas-actuator.png) repeat-y 0 top; }


/* ---- Horizontal Nav ---- */
.horizontal_nav_container .cta_box { display: none; }

/* ---- Body Trail ---- */
.body_trail_container .panel { display: none; }

/* ---- Mobile CTA Container ---- */
.cta_container_mobile { display: none !important; }

/* ---- Footer ---- */
.fat_footer_container { display: block; }
.fat_footer_container .footernav > li:first-child> a { padding-left: 0; }

#footer { min-height: 100px; padding: 18px 0; overflow: hidden; }