name: Missing Links Finder

on: push

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
      with:
        use-verbose-mode: 'no'
        use-quiet-mode: 'yes'
        file-extension: '.m'
        config-file: 'mlc_config.json'

        